@page
@model SerpantWebApp.Pages.SoftwareSecureDeve.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].Presence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.Attendance)
            {
                @if(item.Course.Title.ToString() == "Software Secure Development")
                {
                 <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Teacher.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.FirstName)
                    </td>
                    <td>
                        
                        @Html.DisplayFor(modelItem => item.Presence)
                        
                    </td>
                    <td>
                        
                        <a asp-page="./Edit" asp-route-id="@item.LessonSessionID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.LessonSessionID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.LessonSessionID">Delete</a>
                    </td>
                </tr>
                }
            }
    </tbody>
</table>
