@page
@model SerpantWebApp.Pages.Attendance.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Attendances[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendances[0].presence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendances[0].Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Attendances) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.presence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
